{{ range .Enums }}Enum: {{ . }}
{{ end }}
{{ range .EnumValues }}EnumValue: {{ . }}
{{ end }}
{{ range .Fields }}Field: {{ . }}
{{ end }}
{{ range .Files }}File: {{ . }}
{{ end }}
{{ range .Messages }}Message: {{ . }}
{{ range .Scalars }}  Scalar: {{ . }} ({{ .Ancestors }} : {{ .Scalar }})
{{ end }}
{{ end }}
{{ range .Methods }}Method: {{ . }}
{{ end }}
{{ range .Oneofs }}Oneof: {{ . }}
{{ end }}
{{ range .Services }}Service: {{ . }}
{{ end }}
